{:kotoba.app/id "cloud.itonami.isic-1812", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihf44jp2yyy23s3elze3vmpf72op2fzctrbwkslja4gzptfet25bm", :kotoba.app/embed-url "ipfs://bafkreihf44jp2yyy23s3elze3vmpf72op2fzctrbwkslja4gzptfet25bm", :published {:archive "https://kotobase.net/ipfs/bafkreihf44jp2yyy23s3elze3vmpf72op2fzctrbwkslja4gzptfet25bm", :size 73101, :put-status 201, :get-status 200, :at "2026-08-15T13:32:55.787Z"}}
